extends layout

block content

	ul#taskList.list-group.mt-5.pb-5
		if tasks.length
			each task in tasks
				li.list-group-item.d-flex.justify-content-between.align-items-center(
					data-task-id=task._id
					)= task.taskContent
					button.btn.btn-danger(onclick=`removeTask('${task._id}')`) delete
		else
			li.list-group-item.d-flex.justify-content-between.align-items-center You have no pending tasks.					
